body{
  background: hsl(85, 67%, 78%);
  margin: 0;
  padding: 0;
}

.buttonBox{
  align-content:center;
  border: 3px solid black;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  place-items: center;
}


.logoContainer{
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items:flex-start;
  margin: 0 auto;
}

.logo{
  height: 8em;
  border-radius: 10px;    
}

/* Stuff for the other page */




