.contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20vh;
    padding: 30px;
    width: 500px;
    height: auto;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
}


.loginBox {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.loginBox form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }